* {
  color: #0d1137;
}
.banner {
  background-color: #e52165;
  font-size: 30px;
  margin: 0px;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.corousel {
  overflow: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  scrollbar-width: 5px;
  scrollbar-color: grey;
  -webkit-scrollbar {
    width: 1em;
  }

  -webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  -webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
}

.card{
    width: 75% !important;
    margin: 30px 15px;
    padding:15px 30px;
    overflow: hidden;
    font-size:20px;
    border-radius: 15px;
}
.hairStyle_image{
    object-fit: fill;
    height: 70%;
    width: 100%;
}

.shadow{
    color:transparent;
    height:80px;
}